.adminNavBar{
    display:flex;
    background-color: rgb(6, 84, 84);
    justify-content: space-around;
    color: white;
    position: sticky;
    top: 0px;
}
.nav2 a{
text-decoration: none;
color: white;
margin: 20px;
padding-top: 40px;
transition: .6s;
}
.nav2 a:hover{
    text-decoration: underline;
    color: white;
    transform: scale(1);
}
.nav2 ul{
    padding-top: 20px;
}